
html
{
    scroll-behavior: smooth;
}

body
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#large-container
{
    width: 65%;
    display: flex;
    flex-direction: row;
    /* padding: calc(var(--container-width) * 0.05); */
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 3%;
}

#main-container
{
    width: 600px;
    margin-top: 100px;
}
.container
{
    padding: 20px;
    padding-bottom: 50px;
    width: 500px;
}
#fun-photo
{
    height: 150px;
    width: 150px;
    margin: 20px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 50px;
    transform: rotate(-15deg);
    box-shadow: -4px 3px 10px rgba(0, 0, 0, 0.3);
}

#table-of-contents
{
    position: fixed;
    right: 10px;
    width: 250px;
    margin: 10px;
    margin-right: 0px;
    padding: 5px;
    padding-top: 5px;
    background-color: rgba(218, 218, 218, 0.826);
    border-radius: 3px;
    box-shadow: -4px 3px 12px rgba(0, 0, 0, 0.1);
}

h3
{
    font-family: 'Courier New', Courier, monospace;
}

a
{
    color: rgb(18, 75, 96);
    text-decoration: none; 
}

#title-container
{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 10px;
}

#title
{
    font-size: 40px;
    padding: 8px;
    font-weight: bolder; 
}

#file-man
{
    height: 80%;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 110px;
    background-color: rgba(244, 244, 244, 0.826);
    border-color: rgba(223, 223, 223, 0.826);
    border-radius: 3px;
    box-shadow: -4px 3px 12px rgba(0, 0, 0, 0.1);
}

.file-man-content
{
    height: 50px;
    width: 200px;
    position: relative;
    background-color: rgb(224, 224, 224);
    border: 3px;
    border-color:  rgb(224, 224, 224);
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
}

#code-container
{
    position: absolute;
    left: 300px;
    height: 80%;
    top: 100px;
    width: 60%;
    padding-top: 0px;
    overflow-y: auto;
}

hr
{
    border: none;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    width: 700px;
    margin-left: 10px;
    margin-top: 0px; 
    margin-bottom: 10px;
}

.dropbtn 
{
    background-color: white;
    padding: 16px;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus 
{
    background-color: #dedede;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    background-color: #ddd;
}

.show 
{
    display:block;
}

a.button
{
    padding: 6px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: rgb(172, 231, 231);
}
